<p id="notice"><%= notice %></p>

<p>
  <strong>Feed url:</strong>
  <%= @filter.feed_url %>
</p>

<p>
  <strong>Keywords:</strong>
  <%= @filter.keywords %>
</p>

<%= link_to 'Edit', edit_filter_path(@filter) %> |
<%= link_to 'Back', filters_path %>
